.home {
  @extend .pt-3;
}

h1.hidden {
  display: none;
  visibility: hidden;
}


.home__articles {
  // background: linear-gradient(to bottom right, $white, $electric);
}

.article {
  @extend .mb-2;
}


h2.home__current-events,h2.home__future-events, .updates__title {
  text-transform: uppercase;
  font-size: 1em;
  color: $secondary;
}

.update__image img {
  width: 30px;
}

h2.articles__title {
  text-transform: uppercase;
  font-size: 2em;
  color: $secondary;
}