- title("Liste des oeufs")
- content_for :meta_title, "Pokéstop : Liste des oeufs"
- content_for :meta_description, "Découvrez quels Pokémons peuvent être obtenus dans les différents oeufs dans Pokémon GO."
- content_for :meta_keywords, "oeufs"
- canonical(request.original_url)
.block
  p Le contenu des oeufs varie dans le temps. Je tâche de maintenir leur contenu à jour donc cette page n'affiche que les Pokémons présents en ce moment dans les oeufs.
- @eggs.each do |egg|
  = render 'egg', egg: egg