.pokemon {
  @extend .container;
  margin:auto;
  @extend .mt-3;
  border: 1px solid lightgrey;
  background: white;

}

.pokemon__cards {
  @extend .row;
  @extend .justify-content-around;
  @extend .mt-4;
}

.pokemon__card {
  @extend .card;
  @extend .mb-3;
  @extend .col-12;
}


.pokemon__header {
  @extend .row;
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
  @extend .mb-4;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid lightgrey;
}

.pokemon__generation, .pokemon__prev, .pokemon__next{
  @extend .px-3;
  @extend .py-1;
  position: absolute;
  background-color: $white;
}

.pokemon__generation {
  bottom: 0;
  right: 0;
  border-top-left-radius: 10px;
}
.pokemon__prev {
  top: 0;
  left: 0;
  border-bottom-right-radius: 10px;
  background-color: $light;
}
.pokemon__next {
  top: 0;
  right: 0;
  border-bottom-left-radius: 10px;
  background-color: $light;
}

.stats__types img {
  width: 30px;
  @extend .mx-1;
}


.pokemon__ball {
  @extend .flex-column;
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
  background-color: $white;
  width: 200px;
  height: 200px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.stats__progress {
  @extend .progress;
  @extend .my-1;
  height: 30px;
}

.stats__progress-bar {
  @extend .progress-bar;
  text-align: left;
}
.stats__progress-bar--pc_max {
  @extend .bg-secondary;
}
.stats__progress-bar--atk {
  @extend .bg-danger;
}
.stats__progress-bar--def {
  @extend .bg-primary;
}
.stats__progress-bar--sta {
  @extend .bg-success;
}

.stats__progress span {
  margin-left: 10px;
}



.pokemon__name {}
.pokemon__type {
  @extend .btn;
}
.pokemon__type--bug      { background: $bug     ; }
.pokemon__type--dark     { background: $dark    ; }
.pokemon__type--dragon   { background: $dragon  ; }
.pokemon__type--electric { background: $electric; }
.pokemon__type--fighting { background: $fighting; }
.pokemon__type--fire     { background: $fire    ; }
.pokemon__type--flying   { background: $flying  ; }
.pokemon__type--fairy    { background: $fairy   ; }
.pokemon__type--ground   { background: $ground  ; }
.pokemon__type--ghost    { background: $ghost   ; }
.pokemon__type--grass    { background: $grass   ; }
.pokemon__type--ice      { background: $ice     ; }
.pokemon__type--normal   { background: $normal  ; }
.pokemon__type--psychic  { background: $psychic ; }
.pokemon__type--poison   { background: $poison  ; }
.pokemon__type--rock     { background: $rock    ; }
.pokemon__type--steel    { background: $steel   ; }
.pokemon__type--water    { background: $water   ; }

.pokemon_sprite--gray {
  -webkit-filter: grayscale(100%) opacity(20%);
}

.pokemon__evolutions { }

.pokemon__evolution {
  @extend .col;
}
