.pokemons {
  @extend .container;
  margin:auto;
  @extend .mt-3;
  border: 1px solid lightgrey;
  background: white;
}

.pokemons__header {
  @extend .row;
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
  @extend .mb-4;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  text-transform: uppercase;
}

.pokemons__list {
  @extend .mx-auto;
  @extend .py-5;

  img {
    width: 40px;
  }

  nav {
    @extend .mx-auto;
  }
}

.list__filters {
  @extend .rounded;
  @extend .p-3;
  @extend .mb-2;
  @extend .border;
  @extend .border-secondary;
}

.list__results {
  @extend .d-flex;
  @extend .flex-column;
}

.list__tr {}

.list__tr--gray {
  -webkit-filter: grayscale(100%) opacity(20%);
}

ul.pagination {
  @extend .mx-auto;
}