.pokemons {
}

.pokemons__header {
  background: image-url('fight.jpg');
  background-size: cover;
  height: 250px;
  margin-bottom: 40px;
  box-shadow: $box-shadow;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
}

.pokemons__block {

}

.pokemons__list {
  margin: 0 auto 0 auto;

  img {
    width: 40px;
  }

  nav {
    margin: 0 auto 0 auto;
  }
}

.list__filters {
  border-radius: 10px;
  padding: 20px;
}

.list__results {
  display: flex;
  flex-direction: column;
}

.list__tr {}

.list__tr--gray {
  @extend .content--gray;
}

ul.pagination {
  margin: 10px auto 10px auto;
}