.pokemon {
  margin:auto;
}

/* POKEMON HEADER */

.pokemon__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: $box-shadow;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
}

.pokemon__generation, .pokemon__prev, .pokemon__next {
  padding: 4px;
  position: absolute;
  background-color: $white;
}

.pokemon__generation {
  bottom: 0;
  right: 0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.pokemon__prev {
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: $light;
}
.pokemon__next {
  top: 0;
  right: 0;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: $light;
}

.pokemon__ball {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  width: 200px;
  height: 200px;
  border-radius: 100px;

  h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    margin: 0;
    font-weight: bold;
  }
  .pokemon__num {
    font-size: 14px;
  }
}

/* POKEMON MAIN CONTENT */

.pokemon__blocks {
  justify-content: space-around;
  margin-top: 40px;
}

.stats__types img {
  width: 30px;
  margin: 2px;
}

.stats__progress {
  @extend .progress;
  margin: 3px 0 3px 0;
  height: 30px;
}

.stats__progress-bar {
  @extend .progress-bar;
  text-align: left;
}
.stats__progress-bar--pc_max {
  @extend .bg-secondary;
}
.stats__progress-bar--atk {
  @extend .bg-danger;
}
.stats__progress-bar--def {
  @extend .bg-primary;
}
.stats__progress-bar--sta {
  @extend .bg-success;
}

.stats__progress span {
  margin-left: 10px;
}

ul.eggs__list {
  display: flex;
  justify-content: center;

  li {
    list-style-type: none;
  }
}

.pokemon__type {
  display: inline-block;
  margin: 2px;
}

.pokemon__strong-types {
  font-size: 0.9em;

  img {
    width: 50px;
  }
}


.pokemon__name {}

.pokemon_sprite--gray {
  @extend .content--gray;
}

.pokemon__evolutions { }

.pokemon__evolution {
}

.capture-rate__raw-rate {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 25px;
}

.capture-rate__raw-rate--capture {
  color: $success;
}

.capture-rate__raw-rate--flee {
  color: $warning;
}

.capture-rate__raw-label {
  margin: 0;
  padding: 0;
  font-style: italic;
}

.capture-rate__table {

  margin-top: 20px;

  thead th, td {
    text-align: center;
  }
  img {
    width: 25px;
  }
}

.pokemon__movesets {
  padding-top: 30px;
  table {
    text-align: center;

    td.fast_attack {
      text-align: right;
    }
    td.charge_attack {
      text-align: left;
    }
  }

}

/* Alternative skins */

.skin {
  position: relative;
  padding-left: 120px;
  height: 110px;
}

.skin__header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $box-shadow;
  position: relative;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.skin__ball {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  width: 100px;
  height: 100px;
  border-radius: 100px;

  img {
    width: 70px;
  }
}
