.pokemons {
}

.pokemons__header {
  background: image-url('fight.jpg');
  background-size: cover;
  height: 250px;
  @extend .row;
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
  @extend .mb-4;
  @extend .shadow-sm;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.pokemons__block {
  @extend .mt-5;
}

.pokemons__list {
  @extend .mx-auto;

  img {
    width: 40px;
  }

  nav {
    @extend .mx-auto;
  }
}

.list__filters {
  @extend .rounded;
  @extend .p-3;
  @extend .mb-2;
  @extend .border;
  @extend .border-secondary;
}

.list__results {
  @extend .d-flex;
  @extend .flex-column;
}

.list__tr {}

.list__tr--gray {
  -webkit-filter: grayscale(100%) opacity(20%);
}

ul.pagination {
  @extend .mx-auto;
}