.pokemon {
  margin:auto;
}

/* POKEMON HEADER */

.pokemon__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: $box-shadow;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
}

.pokemon__generation, .pokemon__prev, .pokemon__next {
  padding: 4px;
  position: absolute;
  background-color: $white;
}

.pokemon__generation {
  bottom: 0;
  right: 0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.pokemon__prev {
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: $light;
}
.pokemon__next {
  top: 0;
  right: 0;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: $light;
}

.pokemon__ball {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

/* POKEMON MAIN CONTENT */

.pokemon__blocks {
  justify-content: space-around;
  margin-top: 40px;
}

.stats__types img {
  width: 30px;
  margin: 2px;
}

.stats__progress {
  @extend .progress;
  margin: 3px 0 3px 0;
  height: 30px;
}

.stats__progress-bar {
  @extend .progress-bar;
  text-align: left;
}
.stats__progress-bar--pc_max {
  @extend .bg-secondary;
}
.stats__progress-bar--atk {
  @extend .bg-danger;
}
.stats__progress-bar--def {
  @extend .bg-primary;
}
.stats__progress-bar--sta {
  @extend .bg-success;
}

.stats__progress span {
  margin-left: 10px;
}

ul.eggs__list {
  display: flex;
  justify-content: center;

  li {
    list-style-type: none;
  }
}



.pokemon__name {}
.pokemon__type {
  @extend .btn;
}
.pokemon__type--bug      { background: $bug     ; }
.pokemon__type--dark     { background: $darkness    ; }
.pokemon__type--dragon   { background: $dragon  ; }
.pokemon__type--electric { background: $electric; }
.pokemon__type--fighting { background: $fighting; }
.pokemon__type--fire     { background: $fire    ; }
.pokemon__type--flying   { background: $flying  ; }
.pokemon__type--fairy    { background: $fairy   ; }
.pokemon__type--ground   { background: $ground  ; }
.pokemon__type--ghost    { background: $ghost   ; }
.pokemon__type--grass    { background: $grass   ; }
.pokemon__type--ice      { background: $ice     ; }
.pokemon__type--normal   { background: $normal  ; }
.pokemon__type--psychic  { background: $psychic ; }
.pokemon__type--poison   { background: $poison  ; }
.pokemon__type--rock     { background: $rock    ; }
.pokemon__type--steel    { background: $steel   ; }
.pokemon__type--water    { background: $water   ; }

.pokemon_sprite--gray {
  @extend .content--gray;
}

.pokemon__evolutions { }

.pokemon__evolution {
}
