.block {
  @extend .py-3;
  @extend .mb-5;
  @extend .col-12;
  background-color: $white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  @extend .shadow;
  position: relative;

  h2 {
    font-family: 'Bangers', cursive;
    padding: 0;
    margin: 0;
    position: absolute;
    display: inline;
    top: -25px;
    right: 30px;
    color: grey;
    @extend .p-1;
  }
}