footer {
  background-color: #f86821;
  /* Source background : https://pokewalls.wordpress.com/2011/02/12/129-magikarp/ */

  margin-top: 50px;
  padding: 50px 0 100px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: $white;
  position: relative;

  a {
    color: #fff15c;
  }

  a:hover {
    color: lighten(#fff15c, 20%);
  }

  img.pokestop__logo {
    width: 300px;
    margin: 0 auto 30px auto;
    display: block;
  }
}

.footer__desc, .footer__social, .footer__links {
  padding: 10px;
}

.footer__desc {
  text-align: justify;
  text-justify: inter-word;
}


.footer__social {
  ul {
    text-align: center;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      display: inline;
      margin: 4px;
      padding: 0;
    }
  }
  a {
    color: $white;
  }
}

.footer__links {
  ul {
    margin: 0 0 0 20px;
    padding: 0;
    list-style-type: square;
  }
}

.footer__copyrights {
  position:absolute;
  bottom: 2px;
  text-align: center;
  font-size: 75%;
}

@media (min-width: 576px) {
  footer {
    background-image: image-url("bg_magicarpe.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}