header {
  nav {
    background-color: #91c9be;

    img.pokestop__logo {
      height: 40px;
    }
  }
}

.root {
  text-align: center;
  background-color: #91c9be;
  padding: 50px 0 50px 0;
  /* Source background : https://pokewalls.wordpress.com/2011/04/24/175-togepi/ */
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: auto;
  position: relative;

  img.pokestop__logo {
    width: 80%;
  }

  .search {
    margin: auto;

    form {
      margin: auto;

      button {
        margin-top: 5px;
      }
    }
  }

  .wip {
    position: absolute;
    top: 10px;
    right: 10px;

    img {
      width: 120px;
    }
  }

}

@media (min-width: 576px) {
  .root {
    background-image: image-url("bg_bulbizarre.jpg");

    img.pokestop__logo {
      width: 500px;
    }
  }
}

.navbar__active {
  font-weight: bold;
}

.nav-link {
  text-shadow: 0px 0px 5px black;
  text-transform: uppercase;
}
.nav-link {
  color: white !important;
}