.articles {}

.home-article {
  position: relative;
  border-bottom: 5px solid $success;
  margin-bottom: 30px;
  background-color: white;
  padding: 15px;
  margin-right: ($grid-gutter-width / -2);
  margin-left: ($grid-gutter-width / -2);
}

@media (min-width: 570px) {
  .home-article {
    margin-right: 0;
    margin-left: 0;
  }
}

.home-article img {
  max-width: 100%;
  height: auto;
}

.home-article__heading, .home-article__title, .home-article__footer {
}

.home-article__title {
  h3 {
    font-family: arial;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
}
.home-article__date {
  font-size: 14px;
}

.home-article__heading {
  text-align: justify;
}