.articles {}

.home-article {
  position: relative;
  border-bottom: 5px solid $success;
  margin-bottom: 30px;
  background-color: white;
  min-height: 160px;
  padding: 15px 15px 0 15px;
}

.home-article__heading, .home-article__title, .home-article__footer {
}

.home-article__title {
  h3 {
    font-family: arial;
  }
}
.home-article__date {
  font-size: 14px;
}

.home-article__heading {
  text-align: justify;
}

@media (min-width: 576px) {
  .root {
    background-image: image-url("bg_bulbizarre.jpg");

    img.pokestop__logo {
      width: 500px;
    }
  }
}