/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import url('https://fonts.googleapis.com/css?family=Bangers');
@import 'bootstrap4';
// @import 'fullcalendar/fullcalendar';
@import "block";
@import 'pokemon/pokemon';
@import 'pokemon/evolution';
@import 'pokemon/attack';
@import 'pokemon/pokemons';
@import 'search/search';
@import 'easy-autocomplete';
@import 'home/home';
@import 'home/events';
@import 'users';
@import 'header';
@import 'footer';
@import 'list';
@import "types";
@import "home-article";
@import 'item';
@import 'researches';

.navbar {
  z-index: 200;
}

body {
 // @extend .row;
  background: image-url("stripes-light.png");
}

.content--gray {
  -webkit-filter: grayscale(100%) opacity(20%);
}

.egg {
  position: relative;
  margin-top: 70px;
  padding-top: 50px;
}

h2.egg__name {
  text-align:center;
  text-transform: uppercase;
}

.egg__updated {
}

img.egg__image {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -50px;
  width: 100px;
}