
.events__title h1 {
  text-transform: uppercase;
  font-size: 2em;
  color: $secondary;
}

.events__current {
  padding-top: 40px;
}

.event {
  padding: 30px 0 20px 0;
  position: relative;
  margin-right: ($grid-gutter-width / -2);
  margin-left: ($grid-gutter-width / -2);
}

@media (min-width: 570px) {
  .event {
    margin-right: 0;
    margin-left: 0;
  }
}

.event__image {
  text-align:center;
}

.event__image img {
  width: 150px;
  height: 150px;
  margin: auto;
  padding:0;
}

.event__image--small img {
  width: 40px;
  height: 40px;
}

@media (min-width: 800px) {
  .event__image {
    text-align:left;
  }
  .event__image img {
    margin: 0;
  }
}

.event__texts {
}

h1.event__title, h3.event__title {
  text-transform: uppercase;
  font-family: monospace;
  text-align: center;
}


.event__headline {
  text-align: justify;
}

.event__dates {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: -15px;
  left: 0;
  right:0;
  background-color: $light;
  padding: 4px;
  border-top: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
}

.event__short-text {
  line-height: 18px;
}