// Place all the styles related to the Pokemon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pokemon {
  @extend .container-fluid;
  margin:auto;
}

.pokemon__cards {
  @extend .row;
}

.pokemon__card {
  @extend .card;
  @extend .col-12;
  @extend .col-sm-4
}


.pokemon__header {
  @extend .row;
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
  position: relative;
  background: grey;
  //background: linear-gradient(to bottom right, $poison, $grass);
  padding-top: 50px;
  padding-bottom: 50px;
}

.pokemon__generation, .pokemon__prev, .pokemon__next {
  @extend .px-3;
  @extend .py-1;
  position: absolute;
  background-color: $white;
}

.pokemon__generation {
  bottom: 0;
  right: 0;
  border-top-left-radius: 10px;
}
.pokemon__prev {
  top: 0;
  left: 0;
  border-bottom-right-radius: 10px;
}
.pokemon__next {
  top: 0;
  right: 0;
  border-bottom-left-radius: 10px;
}

.pokemon__ball {
  @extend .flex-column;
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
  background-color: $white;
  width: 200px;
  height: 200px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.pokemon__name {}
.pokemon__type {
  @extend .btn;
}
.pokemon__type--bug      { background: $bug     ; }
.pokemon__type--dark     { background: $dark    ; }
.pokemon__type--dragon   { background: $dragon  ; }
.pokemon__type--electric { background: $electric; }
.pokemon__type--fighting { background: $fighting; }
.pokemon__type--fire     { background: $fire    ; }
.pokemon__type--flying   { background: $flying  ; }
.pokemon__type--fairy    { background: $fairy   ; }
.pokemon__type--ground   { background: $ground  ; }
.pokemon__type--ghost    { background: $ghost   ; }
.pokemon__type--grass    { background: $grass   ; }
.pokemon__type--ice      { background: $ice     ; }
.pokemon__type--normal   { background: $normal  ; }
.pokemon__type--psychic  { background: $psychic ; }
.pokemon__type--poison   { background: $poison  ; }
.pokemon__type--rock     { background: $rock    ; }
.pokemon__type--steel    { background: $steel   ; }
.pokemon__type--water    { background: $water   ; }

.pokemon_sprite--gray {
  -webkit-filter: grayscale(100%) opacity(20%);
}

.pokemon__evolutions { }

.pokemon__evolution {}

.evolution {
  @extend .d-flex;
  @extend .flex-column;
}

.evolution__sprite {}
.evolution__name {}
.evolution__sprite img {
  width: 50px;
}
.evolution_sprite--gray {
  @extend .pokemon_sprite--gray;
}
.evolution__candies {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .mx-auto;
  @extend .px-3
}
.evolution__evolutions {
  @extend .d-flex;
  @extend .justify-content-center;
}
