.types__strengths {
  text-align: center;
  table {
    margin: 20px auto 10px auto;
    td, th {
      padding: 4px;
      margin: 2px;
      vertical-align: middle;
    }
    img {
      width: 30px;
    }
  }
}