Les images de l'entête et du pied-de-page sont des créations de <a href="https://pokewalls.wordpress.com">PokéWalls</a>
<br>
L'icone du logo est une création de  <a href="https://www.flaticon.com/authors/roundicons-freebies" title="Roundicons Freebies">Roundicons Freebies</a> pour <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> (licence <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank" title="Creative Commons BY 3.0">CC 3.0 BY</a>)
<br>
Les pokémons, leurs noms, leurs images et leurs âmes sont la propriété exclusive de Nintendo et Niantic